body {
    color: white;
    margin: 0;
    font-size: 12px;
}

h1 {
    font-size: 2.5em;
    font-family: "Optima", serif;
}

.category-headline {
    text-decoration: underline;
}

span {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "Geneva", sans-serif;
}

.date-author {
    display: block;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 1em;
}

a {
    font-family: "Geneva", sans-serif;
    font-size: 1.2em;
    display: block;
    margin-top: 0.7em;
    margin-bottom: 2em;
}

a:link {
  color: white;
}

a:hover {
 color: blue;
}

#news-main-container {
    display: flex;
}

.category {
    flex-grow: 1;
    flex-basis: 0;
    max-height: 100vh;
    overflow: scroll;
    padding: 12px;
}

.POLITICS {
    background-color: #ac470c;
}

.ENTERTAINMENT {
    background-color: #d05242;
}

.HEALTHY-LIVING {
    background-color: #ec6574;
}

.BLACK-VOICES {
    background-color: #9b65ac;
}